<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- Todo Home Page -->
    <%- include('header.ejs') %>
    <table>
        <% for (var i = 0; i<allTodos.length; i++){ %>
        <tr>
            <td>
                <%= allTodos[i].title %>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>