<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body style="background: linear-gradient(to bottom, #e2eff2, #0d8fe6);height: 100vh;">
    <!-- Todo Home Page -->
    <!-- <%- include('header.ejs') %> -->
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-2">Welcome to To-Do Manager</p>
            <p class="py-2">New Here?<a class="text-green-600" href="/signup">Sign-Up now...</a></p>
            <p class="py-2">Already have an Account?<a class="text-green-600" href="/login">Sign-In</a></p>
        </div>
    </div>
</body>
</html>
