<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- Todo Home Page -->
    <%- include('header.ejs') %>

    <% const categories = ['Overdue', 'Due Today', 'Due Later']; %>

    <% const today = new Date(); %>

    <% for (var category of categories) { %>
        <h2><%= category %></h2>
        
        <% const categoryTodos = allTodos.filter(todo => {
            if (category === 'Overdue') {
                return new Date(todo.dueDate) < today;
            } else if (category === 'Due Today') {
                return new Date(todo.dueDate).toDateString() === today.toDateString();
            } else if (category === 'Due Later') {
                return new Date(todo.dueDate) > today;
            }
        }); %>

        <p><%= categoryTodos.length %> Todos</p>
        
        <!-- Render the todos.ejs partial for each category -->
        <%- include('todos.ejs', { todos: categoryTodos }) %>
    <% } %>

    
</body>
</html>
